* {

    margin: 0;
    padding: 0;

}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

body {
    background-color: #faf6ed;
    color: #222;
    -webkit-font-smoothin: antialised;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {

    grid-column: 3 / 5;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #FB5;

}

.menu ul {

    display: flex;
    flex-wrap: wrap;
    padding: 10px;

}

.menu li a {

    display: block;
    padding: 10px;
    margin-right: 10px;
    color: #222;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: .1rem;

}

.grid-section {
    grid-column: 2/4;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 300px 1fr;
    grid-gap: 20px;
    margin-bottom: 4rem;
}

.titulo {

    font-family: "Playfair Display 5C", georgia;
    font-size: 6rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 1 / 4;
    font-variant: small-caps;

}

.animais h2 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
    color: #e54
}

.animais h2:before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 40px;
    margin-right: 10px;
    background: #FB5;
}

.animais p {
    font-family: Helvetica, Arial;
    line-height: 1.7;
    margin-bottom: 1rem;
}

.animais-lista {
    height:370px;
    overflow-y: scroll;
    grid-column: 2
}

.animais-lista::-webkit-scrollbar {
    width: 10px;
}

.animais-lista::-webkit-scrollbar-thumb {
    background-color: #FB5;
    border-left: 4px solid #faf6ed;
    border-right: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track {
    background-color: #faf6ed;
}

.animais-descricao {
    grid-column: 3
}

.animais-descricao section {
    margin-bottom: 3rem
}

.faq-lista {
    grid-column: 2/4;
}

.faq-lista dt {
    font-family: 'IBM Flex Mono', monospace;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: #e54;
}

.faq-lista dt::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
}

.faq-lista dd {
    font-family: Helvetica, Arial;
    margin-bottom: .5rem;
    margin-left: 30px
}

.mapa {
    grid-column: 2
}

.dados {
    grid-column: 3;
    font-family: Helvetica, Arial;
}

.dados li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: #FB5;
}

.copy {
    grid-column: 3/5;
    margin-bottom: 2rem;
    background: #FB5;
}

.copy p {
    padding: 20px;
    font-family: 'IBM Plex Mono', monospace;
}

.js .animais-descricao section {
    display: none;
}

.js .animais-descricao section.ativo {
    display: block !important;
    animation: show forwards .6s
}

.button-animais-clique-me {
    width: 14em;
    height: 4em;
    background-color: #faf6ed;
    border: 3px solid rgb(248, 175, 66);
    color: rgb(250, 176, 66);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

@keyframes show {
    from {
        opacity: 0;
        translate3d: (-30px,0,0);
    }
    to {
        opacity: 1;
        translate3d: (0,0,0);
    }
}

@media (max-width: 700px) {

    .grid-container {
        grid-template-columns: 1fr;
    }

    .menu, .grid-section, .copy {
        grid-column: 1;
    }

    .grid-section {
        grid-template-columns: 180px 1fr;
        grid-gap: 10px;
    }

    .animais-lista {
        grid-column: 1;
    }

    .faq-lista, .dados, .mapa {
        grid-column: 1/3
    }

    .grid-section h1 {
        font-size: 3rem
    }

    .menu {
        margin-top: 0px
    }

    .copy {
        margin-bottom: 0px
    }

}