.modal-container {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.ativo {
    display: flex;
}

.modal {
    background: white;
    padding: 40px;
    border: 10px solid #fb5;
    box-shadow: 0 0 0 10px white;
    position: relative;
    min-width: 300px;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate(0, -30px, 0);
    }
    to {
        opacity: 1;
        transform: translate(0, 0, 0);
    }
}

.ativo .modal {
    animation: modal 1s forwards;
}

.fechar {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
    background: #e54;
    font-size: 1.2rem;
    color: white;
    font-family: 'IBM Flex Mono', monospace;
    cursor: pointer;
}

.modal label {
    font-family: 'IBM Flex Mono', monospace;
    display: block;
    font-weight: bold;
    margin: 1rem 0 .5rem 0;
}

.modal input {
    width: 100%;
    padding: .7rem .5rem;
    box-sizing: border-box;
}

.modal button[type="submit"] {
    display: block;
    background-color: #e54;
    border: none;
    border-radius: 4px;
    padding: .7rem .2rem;
    font-size: 1rem;
    color: white;
    font-family: 'IBM Flex Mono', monospace;
    margin-top: 1rem;
    font-weight: bold;
}